/* 
################################################
# Icon with text shortcode CSS
################################################
*/
.icon_with_text_item {
    display: flex;
    margin-bottom: 10px;
}

.icon_with_text_icon {
    font-size: 16px;
    width: 25px;
}

.icon_with_text_text *:not(:hover) {
    color: var(--default-text) !important;
}

.icon_with_text_list.large,
.icon_with_text_list.large i {
    font-size: 1.24em;
}

.icon_with_text_list.large .icon_with_text_icon {
    width: 2.5em;
}